container_commands:
    01-composer:
        command: "php /var/app/ondeck/locadora/composer.phar update > /tmp/composer-update.log"
        leader_only: true
    02-migration:
        command: "php /var/app/ondeck/locadora/artisan migrate:fresh --seed --force > /tmp/artisan-migrate.log"
        leader_only: true
